In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
from sklearn.preprocessing import StandardScaler # Used for standarization

In [6]:
data = pd.read_csv('1.02. Multiple linear regression(1).csv')

In [7]:
data.head()

    SAT  Rand 1,2,3   GPA
0  1714           1  2.40
1  1664           3  2.52
2  1760           3  2.54
3  1685           3  2.74
4  1693           2  2.83

In [8]:
x = data[['SAT','Rand 1,2,3']]
y = data['GPA']

# Main process

In [11]:
scaler = StandardScaler()
scaler.fit(x)

StandardScaler()

In [16]:
x_scaled = scaler.transform(x)

StandardScaler.transform(x) 
transform the unscaled inputs
using the information contained 
in the scaler object (feature-wise)